.clock {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(205, 205, 205);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 12px;
}

.charts {
  width: 200px;
  height: 200px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.clock__chart__middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
