#clock__chart {
  margin-top: -100px;
}

#clock__chart .digits,
#clock__chart .chart {
  position: absolute;
}

#clock__chart .chart {
  margin-top: 100px;
}

#clock__chart .digits {
  z-index: 2;
  margin-top: 133px;
  margin-left: 27px;
}

#clock__chart .digits img {
  width: 145px;
  height: 145px;
}

#clock__chart .cross {
  position: absolute;
  margin-top: 30px;
  margin-left: -75px;
}

#clock__chart .cross img {
  width: 350px;
  height: 350px;
}
